<div ng-controller="RegisterStudentController">
    <h1>Student Registration</h1>

    <form novalidate class="simple-form" ng-submit="register(student)">
        <label>First Name: <input type="text" ng-model="student.firstName" /></label><br />
        <label>Last Name: <input type="text" ng-model="student.lastName" /></label><br />
        <label>E-mail: <input type="email" ng-model="student.email" /></label><br />
        <label>Password: <input type="password" ng-model="student.password" /></label><br />

        <input type="submit" value="Register" />
    </form>
</div>