<div ng-controller="RegisterStudentController">

    <div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">

        <form class="form-horizontal" ng-submit="register(student)>"
        <fieldset>

            <legend>Student Registration</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="firstname">First Name</label>
            <div class="col-md-4">
                <input id="firstname" name="firstname" placeholder="first name" class="form-control input-md" type="text"
                       ng-model="student.firstName" required>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Last Name</label>
            <div class="col-md-4">
                <input id="lastname" name="lastname" placeholder="last name" class="form-control input-md" type="text"
                       ng-model="student.lastName" required>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" placeholder="" class="form-control input-md" type="email"
                       ng-model="student.email" required>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" placeholder="" class="form-control input-md" type="password"
                       ng-model="student.password" required>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="faculty">Faculty</label>
            <div class="col-md-4">
                <select class="form-control" id="faculty" name="faculty"
                        ng-model="student.studentInfo.faculty" ng-options="x.title for x in faculties">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="depertment">Department</label>
            <div class="col-md-4">
                <select class="form-control" id="depertment" name="depertment"
                        ng-model="student.studentInfo.department" ng-options="x for x in faculties[0].departments">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="group">Group</label>
            <div class="col-md-4">
                <input id="group" name="group" placeholder="group" class="form-control input-md" type="text"
                       ng-model="student.studentInfo.group" required>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="linkedin">LinkedIn</label>
            <div class="col-md-4">
                <input id="linkedin" name="linkedin" placeholder="" class="form-control input-md" type="url"
                       ng-model="student.linkedin" required>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="github">GitHub</label>
            <div class="col-md-4">
                <input id="github" name="github" placeholder="" class="form-control input-md" type="url"
                       ng-model="student.studentInfo.github" required>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="about">About</label>
            <div class="col-md-4">
                <textarea class="form-control" id="about" name="about"
                          ng-model="student.studentInfo.about"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="button"></label>
            <div class="col-md-4">
                <button id="button" name="button" class="btn btn-primary" type="submit">Register</button>
            </div>
        </div>

        </fieldset>
        </form>


    </div>

      <div class="col-lg-3"></div>
    </div>
</div>